.slider {
	padding-left: 20px;
}
.slider div {
	margin:0 !important;
	padding:0 !important;
}
.chart-tooltip {
	background-color: rgba(0,0,0,0.8) !important;
	border-radius: 5px;
	padding: 10px;
	width: 220px;
}
.noselect {
	/* http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.uk-card {
	height: 260px;
}