.textWhite {
  color: white !important;
}

.title-font {
  font-family: 'Alegreya SC', serif;
}

.header-font {
  font-family: 'Fondamento', cursive;
}

.uk-offcanvas-bar {
  box-shadow: -10px 0px 10px rgba(0,0,0,0.3);
}
.uk-offcanvas-container {
  overflow-y: hidden;
}